@model LoginRequestModel

<link rel="stylesheet" href="~/css/auth_form.css"/>

<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" asp-controller="Auth" asp-action="Login" method="post">
				<input hidden asp-for="ReturnUrl"/>
				<span>Login here</span>
				<div class="login__field">
					<i class="login__icon"></i>
					<input type="text" class="login__input" placeholder="User name / Email" asp-for="Email">
				</div>
				<span asp-validation-for="Email"></span>
				<div class="login__field">
					<i class="login__icon"></i>
					<input type="password" class="login__input" placeholder="Password" asp-for="Password">
				</div>
				<span asp-validation-for="Password"></span>
				<button class="login__submit" asp-action="Login">
					<span>Log In</span>
					<i class="button__icon"></i>
				</button>
			</form>
				<a type="button" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="login__register">Register now</a>
			<div class="social-login">
				<h3>Or via</h3>
				<div class="social-icons">
					<a href="#" class="social-login__icon"></a>
				</div>
			</div>
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>